# Object files
*.o

# Test executables for this homework
deleteKthNodeTest
elementwiseSumTest
findKthNodeTest
largestValueTest
linkedListFuncs
removeKFromFrontTest
spliceTest
strFuncs
strTest
sumTest
tddFuncs

# Editor backup files
*~
*.swp
*.swo
git commit -m